.FocusListButton {
  &-trigger {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    margin-inline: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-background-translucent);
    border-radius: var(--border-radius-default-tiny);
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-interactive-element-hover);
    }

    &.active {
      .icon {
        color: var(--color-primary);
      }
    }

    .icon {
      font-size: 1.25rem;
      color: var(--color-icon-secondary);
      margin-right: 0.75rem;
    }

    .count {
      margin-left: auto;
      font-size: 0.75rem;
      color: var(--color-text-secondary);
      border-radius: var(--border-radius-default-tiny);
      border: 2px solid var(--color-borders-input);
      padding: 0.1rem 0.3rem;
    }
  }
}
