.WorkspaceManager {
  &-dropdown .Menu .bubble {
    margin-inline: 1rem;
    max-height: calc(100 * var(--vh) - 3.75rem);
    overflow-y: auto;
  }

  &-trigger {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    margin-inline: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: var(--border-radius-default-tiny);
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--color-interactive-element-hover);
    }
  }

  &-workspace {
    display: flex;
    gap: 0.75rem;
    
    &.compact {
      padding-inline: 0.5rem;
    }

    .icon {
      color: var(--color-primary);
      margin: 0 !important;
      margin-left: auto !important;
    }
  }

  &-excludeOther {
    display: flex;
    align-items: center;

    .Switcher {
      transform: scale(0.75);
      margin-inline: 0rem 0.9rem;
    }
  }
}
