.WorkspaceManager {
  &-dropdown .Menu .bubble {
    margin-inline: 1rem;
    max-height: calc(100 * var(--vh) - 3.75rem);
    overflow-y: auto;
  }

  &-trigger {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    margin-inline: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-background-translucent);
    border-radius: var(--border-radius-default-tiny);
    transition: background-color 0.15s, color 0.15s;

    &:hover,
    &.active {
      background-color: var(--color-interactive-element-hover);
    }

    .icon {
      font-size: 1.25rem;
      color: var(--color-icon-secondary);
      margin-right: 0.5rem;
    }
  }

  &-workspace {
    display: flex;
    justify-content: space-between;
    
    &.compact {
      padding-inline: 0.5rem;
    }

    .icon {
      color: var(--color-primary);
      margin: 0 !important;
    }
  }

  &-excludeOther {
    display: flex;
    align-items: center;

    .Switcher {
      transform: scale(0.75);
      margin-inline: 0rem 0.9rem;
    }
  }
}
