.WorkspaceModal {
  .modal-dialog {
    max-width: 26.25rem;
  }

  .workspace-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .workspace-input-group {
    display: flex;
    gap: 0.5rem;
    
    .input-group {
      flex: 1;
    }
    
    .workspace-delete-button {
      flex-shrink: 0;
    }
  }

  .workspace-folder-selection {
    .workspace-folder-selection-title {
      margin: 0 0 1rem 0;
      font-size: 1rem;
      font-weight: 500;
      color: var(--color-text);
    }
  }
}
